#contenedor {
    display: flex;
    align-content: center;
    border-color: blueviolet;
    border-radius: 3px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#pantalla{
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: medium;
    border-color: red;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

#botones{
    padding-top: 20px;
    padding-bottom: 10px;
}

