#contenedor {
    display: flex;
    align-content: center;
    border-color: blueviolet;
    border-radius: 3px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

body {
    background-color: aliceblue;
}

#pantalla{
    border-style: solid;
    border-width: medium;
    background-color: white;
    border-color: red;
    display: flex;
    flex-wrap: wrap;

}

#botones{
    padding-top: 20px;
    padding-bottom: 10px;
}

.pixel {
    border: 1px solid whitesmoke;
}

